#margin_do {
    margin: 5px;
}
#profile_pic {
    border-radius: 50%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
}
.profile {
    margin: 50px;
}
.dataTables_filter input {
    border:1px solid #aaa;
    border-radius:3px;
    padding:5px;
    background-color:transparent;
    margin-left:3px
}