#margin_do {
    margin: 5px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
button.btn-edit-profile {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    background-color: #7f77e0;
    color: #fff;
}
button.btn-edit-profile:hover {
    background-color: #746dc9;
    color: #fff;
}
button.btn-edit-profile:active {
    background-color: #6d66bd;
    color: #fff;
    box-shadow:0 0 0 .2rem rgba(113,106,197,.5)
}
button.btn-edit-profile:focus {
    background-color: #6d66bd;
    color: #fff;
    box-shadow:0 0 0 .2rem rgba(113,106,197,.5)
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #7069c0;
}
.profile-head .nav-tabs .nav-link{
    color: #968fe9;
}
.profile-img img{
    width: 80%;
    height: 100%;
}
.profile-head h5 {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 600;
}
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.reg_date {
    font-weight: 600;
    color: #4b4f52;
}
#profile_pic {
    border-radius: 50%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
}
.profile {
    margin: 50px;
}
.dataTables_filter input {
    border:1px solid #aaa;
    border-radius:3px;
    padding:5px;
    background-color:transparent;
    margin-left:3px
}
.gradient-custom {
    background: #9598a6;
    background: -webkit-linear-gradient(to right, rgba(149, 152, 166, 0.5), rgba(58, 53, 77));
    background: linear-gradient(to right, rgba(149, 152, 166, 0.5), rgba(58, 53, 77))
}
.gradient-custom2 {
    background: -webkit-linear-gradient(180deg, #d9d9d9,#929292);
    background: linear-gradient(180deg, #d9d9d9,#929292);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                               
}
.gradient-custom3 {
    background: -webkit-radial-gradient(rgba(149, 152, 166, 0.5), rgba(58, 53, 77));
    background: radial-gradient(rgba(149, 152, 166, 0.5), rgba(58, 53, 77));
}
.stamp {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: xx-large;
}
img.star {
    display: inline;
}
.checked {
    color: orange;
}
.overflow {
    overflow-y: auto;
}