#margin_do {
    margin: 5px;
}
#profile_pic {
    border-radius: 50%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
}
.profile {
    margin: 50px;
}
.dataTables_filter input {
    border:1px solid #aaa;
    border-radius:3px;
    padding:5px;
    background-color:transparent;
    margin-left:3px
}
.gradient-custom {
    background: #9598a6;
    background: -webkit-linear-gradient(to right, rgba(149, 152, 166, 0.5), rgba(58, 53, 77));
    background: linear-gradient(to right, rgba(149, 152, 166, 0.5), rgba(58, 53, 77))
}