{% macro render_field(field) %}
    <div class="form-outline mb-4">
        {{ field.label }} <br>
        {{ field(**kwargs) | safe }} <br>
        {% for error in field.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

    </div>
{% endmacro %}

{% macro render_edit_form(form) %}
<div class="container h-100 form-popup" id="edit_form" style="z-index: 1; position: absolute; top: 0%; left: 0%; display: none">
<div class="row d-flex justify-content-center align-items-center h-100">
<div class="col-12 col-md-9 col-lg-7 col-xl-6">
<div class="card" style="border-radius: 15px;">
<div class="card-body p-5">
    <button type="button" class="close" aria-label="Close" onclick="closeForm()" id="btn_close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="text-uppercase text-center mb-5">Edit</h2>
    <form action="" method="post" novalidate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ render_field(form.username, class="form-control", id="name") }}
        {{ render_field(form.email, class="form-control", id="email") }}
        {{ render_field(form.picture, id="picture") }}
        <p onclick="closeForm()" can_close="false" id="form_submit">{{ form.submit(type="submit", class="btn btn-primary btn-block") }}</p>
        {{message}}
    </form>
</div>
</div>
</div>
</div>
</div>
{% endmacro %}


{% macro fav_item(data1, data2, type_, idx) %}
<div class="row">
    <div class="col-6 {{type_}}">
        <label>{{data1}}</label>
    </div>
    <div class="col-6">
        <button type="button" class="close to_del {{idx}} {{type_}}-{{idx}}" aria-label="Close" onclick="to_delete({{idx}}, '{{type_}}')" id="btn_close">
            <span aria-hidden="true">&times;</span>
        </button>
        {% if type_ == 'boat'%}
            <p class="sec-data-{{type_}}">{{data2}}</p>
        {% else %}
            <a href="{{data2}}" class="sec-data-{{type_}}">{{data2}}</a>
        {% endif %}
    </div>
</div>
{% endmacro %}


{% macro card(img, text1, text2, link) %}
<div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <a href="{{link}}">
          {% set path = 'img/main_page_pictures/' + img %}
          <img src="{{url_for('static', filename=path)}}" class="img-fluid"/>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ text1 }}</h5>
      <p class="card-text">{{ text2 }}</p>
      <a href="{{link}}" class="btn btn-outline-dark">Перейти</a>
    </div>
  </div>
{% endmacro %}
