{% macro render_field(field) %}
    <div class="form-outline mb-4">
        {{ field.label }} <br>
        {{ field(**kwargs) | safe }} <br>
        {% for error in field.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}

    </div>
{% endmacro %}

{% macro render_edit_form(form) %}
<div class="container h-100 form-popup" id="edit_form" style="z-index: 1; position: absolute; top: 0%; left: 0%; display: none">
<div class="row d-flex justify-content-center align-items-center h-100">
<div class="col-12 col-md-9 col-lg-7 col-xl-6">
<div class="card" style="border-radius: 15px;">
<div class="card-body p-5">
    <button type="button" class="close" aria-label="Close" onclick="closeForm()" id="btn_close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h2 class="text-uppercase text-center mb-5">Редактирование</h2>
    <form action="" method="post" novalidate enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ render_field(form.username, class="form-control", id="name") }}
        {{ render_field(form.email, class="form-control", id="email") }}
        {{ render_field(form.picture, id="picture") }}
        <p onclick="closeForm()" can_close="false" id="form_submit">{{ form.submit(type="submit", class="btn btn-primary btn-block") }}</p>
        {{message}}
    </form>
</div>
</div>
</div>
</div>
</div>
{% endmacro %}


{% macro fav_item(data1, data2, type_, idx) %}
<div class="row">
    <div class="col-6 {{type_}}">
        <label>{{data1}}</label>
    </div>
    <div class="col-6">
        <button type="button" class="close to_del {{idx}} {{type_}}-{{idx}}" aria-label="Close" onclick="to_delete({{idx}}, '{{type_}}')" id="btn_close">
            <span aria-hidden="true">&times;</span>
        </button>
        {% if type_ == 'boat'%}
            <p class="sec-data-{{type_}}">{{data2}}</p>
        {% else %}
            <a href="{{data2}}" class="sec-data-{{type_}}">{{data2}}</a>
        {% endif %}
    </div>
</div>
{% endmacro %}


{% macro card(img, text1, text2, link) %}
<div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
      <a href="{{link}}">
          {% set path = 'img/main_page_pictures/' + img %}
          <img src="{{url_for('static', filename=path)}}" class="img-fluid"/>
      </a>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ text1 }}</h5>
      <p class="card-text">{{ text2 }}</p>
      <a href="{{link}}" class="btn btn-outline-dark">Перейти</a>
    </div>
  </div>
{% endmacro %}

{% macro footer() %}
<footer class="page-footer font-small teal pt-4" style="margin-top: 2%; background-color: rgba(0, 0, 0, 0.05)">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-10 mt-md-0 mt-3 offset-md-1">
          <h5 class="text-uppercase stamp" style="font-size:medium;">Внимание</h5>
          <p>Данный сайт создан исключительно в образовательных целях. Все материалы взяты из открытых источников 
              и не носят политический характер. Авторы проекта не разделяют экспансионистских идей Третьего рейха.</p>
        </div>
        <hr class="clearfix w-100 d-md-none pb-3">
  
      </div>
    </div>
    <div class="footer-copyright text-center py-3">
        © 2022 TheLastWolfpack  
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-github ml-3" viewBox="0 0 16 16">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
        </svg>
        <a href="https://github.com/SneakySelderey/the_last_wolfpack">Repository</a> on Github
    </div>
</footer>
{% endmacro %}

{% macro render_msg(img, text, time, username=None) %}
{% if img %}
    {% set path = 'img/profile_pictures/' + img | string %}
    <div class="media w-50 mb-3">
        <figure>
            <img src="{{url_for('static', filename=path)}}" alt="user" width="50" class="rounded-circle">
            <figcaption class="mt-1 text-center" style="font-size: 11px;">{{username}}</figcaption>
        </figure>
        <div class="media-body ml-3">
            <div class="bg-light rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-muted">{{text}}</p>
            </div>
            <p class="small text-muted">{{time}}</p>
        </div>
    </div>
{% else %}
    <div class="media w-50 ml-auto mb-3">
        <div class="media-body">
            <div class="bg-primary rounded py-2 px-3 mb-2">
                <p class="text-small mb-0 text-white">{{text}}</p>
            </div>
            <p class="small text-muted text-right">{{time}}</p>
        </div>
    </div>
{% endif %}
{% endmacro %}
