{% extends "base.html" %}

{% block content %}
<h1 style="display: flex;
align-items: center;
justify-content: center;
height: 100%;">Капитаны Кригсмарине</h1>
<table class="table table-sortable" id="caps_table">
    <thead>
        <tr>
            <th scope="col" style="background-color:rgba(192, 192, 192, 0.5)">ID</th>
            <th scope="col" style="background-color:rgba(192, 192, 192, 0.5)">Имя</th>
            <th scope="col" style="width: 150px; background-color:rgba(192, 192, 192, 0.5)">Фото</th>
            <th scope="col" style="background-color:rgba(192, 192, 192, 0.5)">Информация</th>
            <th scope="col" style="background-color:rgba(192, 192, 192, 0.5)">Командовал</th>
            <th scope="col" style="background-color:rgba(192, 192, 192, 0.5)">Ссылка на uboat.net</th>
        </tr>
    </thead>
    <tbody>
        {% for item in caps%}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td id="cap_name">{{ item.name }}</td>
                {% if not item.image %}
                    <td style="background-color:rgba(231, 98, 98, 0.3)">No photo</td>
                {% else %}
                    {% set name = 'img/' + loop.index0 | string + '.png' %}
                    {% set static = 'static' %}
                    <td> <img data-src="{{ url_for(static, filename=name) }}" src="{{url_for('static', filename='img/dummy.gif')}}" class="img-fluid img-thumbnail" id="cap_image"> </td>
                {% endif %}
                <td>{{ item.info }}</td>
                <td>{{ item.boats }}</td>
                <td> <a href={{ item.profile_link }} target="_blank">{{ item.profile_link }}</a> </td>
            </tr>
            {% endfor %}
    </tbody>
</table>
<script src="{{url_for('static', filename='scripts/lazy_load.js')}}"></script>
<script src="{{url_for('static', filename='scripts/table_sort.js')}}"></script>
<script>
    $(document).ready(function() {
        $('#caps_table').DataTable({"bPaginate": false});
    } );
</script>
{% endblock %}