{% extends "base.html" %}

{% block content %}
{% from "__formhelper.html" import render_msg%}
<div class="container h-100" style="margin-top: 2.5%; margin-bottom: 2.5%; overflow-x: hidden">
<div class="row d-flex justify-content-center align-items-center h-100">
<div class="col-md-12 col-lg-12 col-xl-12 col-xs-12">
<div class="card" style="border-radius: 15px;">
<div class="card-body p-5">
  <div id="chatbox" style="height: 700px; overflow-y: auto; overflow-x: hidden">
  </div>
  {% if current_user.is_authenticated %}
    <div class="input-group">
      <div class="input-group-append">
          <div class="mt-3 ml-1 mr-2 mb-2">
              <label for="pic_add">
                  <i class="fa fa-paperclip align-bottom" style="color: black;"></i>
              </label>
              <input name="myFile" type="file" style="display: none;" id="pic_add" accept="image/png, image/gif, image/jpeg, image/jpg">
          </div>
      </div>
      <input type="text" placeholder="Напишите сообщение..." aria-describedby="button-addon2" class="form-control rounded-0 border-0 py-4 bg-light ml-1 mt-2" id="msg_input">
      <div class="input-group-append">
          <button id="button-addon2" type="submit" class="btn btn-link"> <i class="fa fa-paper-plane" style="color: #7f77e0;"></i></button>
      </div>
    </div>
  {% else %}
    <p class="text-small mb-0 text-muted text-center">Вы не можете писать сообщения, пока не выполните вход в аккаунт</p>
  {% endif %}
</div>
</div>
</div>
</div>
</div>




<p style="visibility: hidden; display: none" id="current_user_id">{{current_user.id}}</p>
<script type="text/python" src="{{url_for('static', filename='scripts/chat.py')}}"></script>
<script>
  $(document).keypress(function(e){
    if (e.which == 13){
        $("#button-addon2").click();
    }
});
  function updateValue(e) {
    file = e.target.files[0];
    ext = file.name.split('.').slice(-1)
    reader.readAsBinaryString(file);
  }
  var reader = new FileReader(),
    binary, base64;
  input = document.getElementById('pic_add')
  input.addEventListener('input', updateValue);
  reader.addEventListener('loadend', function () {
    binary = reader.result; // binary data (stored as string), unsafe for most actions
    base64 = btoa(binary); // base64 data, safer but takes up more memory
    args = {'msg': ' ', 'attachment': base64, 'att_extension': ext}
    fetch('/api/users/{{current_user.id}}',{
      method:'PUT',
      headers:{
      'Content-Type':'application/json'
      },
      body:JSON.stringify(args)
    })
}, false);

</script>
{% endblock %}