{% extends "base.html" %}

{% block content %}
<div style="background-color: #ffffff; width: 100%; margin-left: 0%; padding: 20px">
    <h3>Битва за Атлантику (1939—1945)</h3>

    <p>Битва за Атлантику (Вторая битва за Атлантику, в отличие от одноимённой кампании в рамках Первой мировой войны) — военная кампания Второй мировой войны, борьба союзников по Антигитлеровской коалиции с нацистской Германией и Италией за коммуникации и господство в Атлантическом океане и прилегающих к нему морях. Основной целью стран оси было нарушение атлантических коммуникаций Великобритании с остальными союзниками, дальней целью — принуждение её к переговорам и развал коалиции. Основной целью союзников была защита коммуникаций и, тем самым, обеспечение военных усилий коалиции.</p>

    <p>Не имея возможности уничтожить военно-морские силы союзников в прямом столкновении, Германия сосредоточилась на их коммуникациях как самом слабом звене. Ею применялись: крупные надводные корабли, подводные лодки, надводные коммерческие рейдеры, авиация, лёгкие надводные корабли (катера).</p>

    {% set static = 'static' %}
    {% set name = 'img/misc. pictures/U-96.jpg' %}

    <figure style="float: left; text-align: center"><p><img src={{ url_for(static, filename=name) }} width="370" height="250"
        alt="Иллюстрация" align="left"
        vspace="10" hspace="20"></p><figcaption style="padding-bottom: 0;">Подлодка VII серии U-96</figcaption></figure>
    
    <p>Наибольшего успеха добились подводные лодки. На их долю приходится до 68 % потерь союзного тоннажа и 37,5 % потерь боевых кораблей. Начав войну с 57 лодками, в основном малыми прибрежными субмаринами типа II, Германия развернула грандиозную программу строительства подводного флота, построив до 1945 года более тысячи подводных лодок разных типов.</p>

    <p>Главнокомандующий подводным флотом Кригсмарине Карл Дёниц разработал тактику группового нападения подводных лодок на конвои судов, известную как тактика «волчьих стай». Он же организовал систему снабжения подводных лодок вдали от баз и другие виды обеспечения. Пока эти меры не встречали серьёзного противодействия, немецкие подводные лодки действовали эффективно. Однако всю войну Кригсмарине страдала от слабого взаимодействия с другими видами сил, прежде всего Люфтваффе.</p><br>
    
    {% set name = 'img/misc. pictures/Karl_Doenitz.jpg' %}
    <figure style="float: right; text-align: center"><p><img src={{ url_for(static, filename=name) }} width="262" height="333"
        alt="Иллюстрация" align="left"
        vspace="10" hspace="20"></p><figcaption style="padding-bottom: 0;">Карл Дениц</figcaption></figure>

    <p>После разработки радаров нового типа, расшифровки системы кодов радиосвязи немецких подводников, выделения достаточного количества авиации, строительства большого количества эскортных кораблей и небольших эскортных авианосцев инициатива перешла к союзникам. Потеря передовых, а затем и части основных баз, выход Италии из войны лишили Германию выгодных условий борьбы. Кроме того, промышленный потенциал США и Великобритании позволял восполнять потопленный тоннаж быстрее, чем союзники несли потери. Все это привело к поражению Германии в Битве за Атлантику.</p>

    <h3>Основные этапы</h3>

    <p>Борьба на водных коммуникациях в Атлантике прошла через несколько основных периодов, обусловленных коренными изменениями в расстановке сил и развитии войны в целом.</p>

<p>Западные источники дают следующую периодизацию:</p>

<ol>
    <li>Сентябрь 1939 — май 1940. Обе стороны вели борьбу силами и средствами, имевшимися к началу войны. Боевые действия ограничивались географически и по интенсивности. Соблюдался (в основном) нейтралитет государств, война на море велась по нормам призового права.</li>
    <li>Июль 1940 — декабрь 1941. Резкое изменение обстановки на суше, захват Германией новых баз, промышленных районов, источников сырья. Выход из войны Франции, вступление в войну Италии. Открытие Средиземноморского театра военных действий. Переход Германии к неограниченной подводной войне, отказ от использования крупных кораблей против коммуникаций (сражение в Датском проливе, операция «Цербер»). Вступление в войну Советского Союза, открытие Арктического театра военных действий. Попытки взаимодействия авиации, надводных кораблей и подводных лодок немцев в Арктике. Успешные действия немецких подводных лодок (известные как «Счастливые времена»), их массовое наращивание, расширение районов действия. Потери союзников на коммуникациях резко растут.</li>
    <li>Декабрь 1941 — март 1943. Вступление в войну США и Японии. Полный отказ от любых ограничений на боевые действия. Потери союзников приближаются к критическим («Вторые счастливые времена» для немцев между январем и августом 1942 года), однако защита коммуникаций улучшается, эффективность действий немцев падает, их потери также растут. Отказ Германии от использования надводных рейдеров. Резкое сокращение авиационной поддержки подводных лодок. Лодки остаются единственным родом сил Германии на дальних коммуникациях, катера и авиация сосредоточиваются на ближних.</li>
    <li>Апрель 1943 — июнь 1944. Переход союзников в наступление, в том числе в Битве за Атлантику. Качественный и количественный рост противолодочных сил, сокращение потерь в тоннаже, рост потерь немецких подводных лодок. Прирост союзного тоннажа превышает потери. Выход из войны Италии, утрата немецких баз в Средиземном море. Защита коммуникаций союзниками переходит в сочетание обороны и наступления, в том числе на маршрутах перехода и в базах подводных лодок.</li>
    <li>Июнь 1944 — май 1945. Полное господство союзников на коммуникациях. Открытие нового театра военных действий в Западной Европе. Противодействие немецких лодок и катеров вторжению неэффективно. Германия лишается баз на Атлантическом побережье, затем промышленного потенциала на континенте. Полное лишение её морских сил авиационной поддержки. Потери союзников в тоннаже минимальны, потери немецких подводных лодок достигают катастрофических размеров. Немецкие надводные силы уничтожаются в базах.</li>
</ol>

<p>Советская историография выдвигает вперед значение Восточного фронта[3] и предлагает три периода:</p>

<ol>
    <li>Период сентябрь 1939 — июнь 1941 характерен тем, что вначале на атлантических коммуникациях с обеих сторон действовали незначительные силы. Со 2-й половины 1940 немецкое командование ввело в действие кроме подводных лодок и надводных кораблей также авиацию.</li>
    <li>Период июль 1941 — март 1943 характеризуется тем, что основные силы немецкой авиации и крупных надводных кораблей были переброшены против СССР. Это позволило союзникам сосредоточить главные усилия на борьбе с подводными лодками противника.</li>
    <li>Период апрель 1943 — май 1945 отмечен коренным переломом в войне и последовавшими тяжёлыми поражениями вермахта на советско-германском фронте. Эти обстоятельства, а также высадка союзников в июне 1944 в Сев. Франции, лишение противника важной системы баз в Бискайском заливе, воздушные бомбардировки баз подводных лодок и блокада их в базах резко снизили эффективность действий немецких подводных лодок, их потери продолжали катастрофически расти.</li>
</ol>
</div>
{% endblock %}
