{% extends "base.html" %}

{% block content %}
{% from "__formhelper.html" import card %}
<!-- <script type="text/javascript" src="{{url_for('static', filename='scripts/users_online.py')}}"></script> -->
<section class="text-center">
    <br>
    <h4 class="stamp mb-5">Разделы</h4>
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-4 d-flex align-items-stretch">
        {{ card('hist.jpg', 'Историческая справка', 'Краткая справка об одной из самых интересных кампаний Второй мировой войны - Битве за Атлантику', '/historical_reference') }}
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4 d-flex align-items-stretch">
        {{ card('map.jpg', 'Карта', 'Интерактивная карта с местами гибели подводных лодок Кригсмарине и дополнительной информацией о них', '/map/all_boats') }}
      </div>


      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4 d-flex align-items-stretch">
         {{ card('meeting.jpg', 'Чат', 'Общайтесь на любые темы с такими же любителями истории, как вы', '/chat') }}
      </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mb-4 d-flex align-items-stretch">
          {{ card('caps.jpg', 'Капитаны Кригсмарине', 'Список всех капитанов Кригсмарине с информацией о рождении, смерти и лодках, которыми они командовали', '/captains') }}
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4 d-flex align-items-stretch">
          {{ card('boats.jpg', 'Подводные лодки', 'Список подводных лодок с исчерпывающей информацией о боевом пути, судьбе, успехах и координатах гибели', '/uboats') }}
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-4 d-flex align-items-stretch">
          {{ card('types.png', 'Типы лодок Кригсмарине', 'История основных серий подводных лодок: II, VII, IX, XXI (с иллюстрациями)', '/uboat_types') }}
        </div>

    </div>
</section>
<h5 id="users_online">Пользователей онлайн: {{online}}</h5>
<script type="text/javascript">

  function httpGet(theUrl)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open( "GET", theUrl, false);
    xmlHttp.send( null );
    return xmlHttp.responseText;
}

  function getUsersOnline() {

    var users_online = httpGet('/api/users_online').toString()

    my_data.innerHTML = `Пользователей онлайн: ${users_online}`
    console.log('updating users online')
  }

  var my_data = document.getElementById("users_online");
  let timerId = setInterval(getUsersOnline, 3000);

</script>
{% endblock %}