{% extends "base.html" %}

{% block content %}
<div style="margin-top: 2.5%; margin-bottom: 2.5%">
    <h4 class="stamp mb-5 text-center">Карта</h4>
    <div class="container h-100">
    <container style="display: flex; flex-direction: row; justify-content: space-evenly">
        <h4><img src="https://the-last-wolfpack.herokuapp.com/static/img/misc.%20pictures/placemark_red.png" height="22" width="18"> - 1939</h4>
        <h4><img src="https://the-last-wolfpack.herokuapp.com/static/img/misc.%20pictures/placemark_yellow.png" height="22" width="18"> - 1940</h4>
        <h4><img src="https://the-last-wolfpack.herokuapp.com/static/img/misc.%20pictures/placemark_green.png" height="22" width="18"> - 1941</h4>
        <h4><img src="https://the-last-wolfpack.herokuapp.com/static/img/misc.%20pictures/placemark_orange.png" height="22" width="18"> - 1942</h4>
        <h4><img src="https://the-last-wolfpack.herokuapp.com/static/img/misc.%20pictures/placemark_black.png" height="22" width="18"> - 1943</h4>
        <h4><img src="https://the-last-wolfpack.herokuapp.com/static/img/misc.%20pictures/placemark_purple.png" height="22" width="18"> - 1944</h4>
        <h4><img src="https://the-last-wolfpack.herokuapp.com/static/img/misc.%20pictures/placemark_blue.png" height="22" width="18"> - 1945</h4>
    </container>
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div id="map-test" class="map"></div>
        <script src="https://api-maps.yandex.ru/2.1/?apikey=85d6700b-49e3-4254-a90c-7ea12c8d1a8f&lang=ru_RU"></script>
        <script type="text/javascript">
            var uboat = {{ uboat | tojson }}
        </script>
        <script type="text/javascript" src="{{url_for('static', filename='scripts/map.js')}}"></script>
    </div>
</div>
</div>
{% endblock %}