{% extends "base.html" %}

{% block profile %}
{% from "__formhelper.html" import render_edit_form, render_field, fav_item %}
<div class="container h-100" style="margin-top: 2.5%; margin-bottom: 2.5%">
<div class="row d-flex justify-content-center align-items-center h-100">
<div class="col-md-12 col-lg-12 col-xl-12 col-xs-12">
<div class="card" style="border-radius: 15px;">
<div class="card-body p-5">
    <h2 class="text-uppercase text-center mb-5">Profile</h2>
    {{ message }}
    {% set path = 'img/profile_pictures/' + user.profile_picture%}
    <div class="row">
        <div class="bg-image hover-overlay ripple col-md-4 col-xl-3 col-lg-3 col-xs-12 justify-content-center align-items-center" data-mdb-ripple-color="light">
            <img src="{{url_for('static', filename=path)}}" class="img-fluid"/>
            <div class="col-12">
                <h5 style="margin-top: 3%;" id="username">{{ user.username }}</h5>
                <h6>Register date: <span class="reg_date">{{ user.register_date }}</span></h6>
                <h6>Email: <span class="reg_date" id="user_email">{{ user.email }}</span></h6>
            </div>
            <div class="col-12" style="text-align: center; margin-top: 5%; margin-bottom: 5%">
                <!-- <button class="btn btn-default btn-edit-profile" onclick="openForm()">Edit profile</button> -->
                <!-- <a class="btn btn-default btn-edit-profile" href="" onclick="openForm()">Edit profile</a> -->
                <button class="btn btn-edit-profile" onclick="openForm()">Edit profile</button>
            </div>
        </div>

        {{ render_edit_form(form) }}


        <div class="col-xl-9 col-lg-9 col-xs-12 col-md-8">
            <div class="profile-head">
                <h5>Favourites</h5>
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#caps" role="tab" aria-controls="caps" aria-selected="true">Captains</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#boats" role="tab" aria-controls="boats" aria-selected="false">Boats</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="caps" role="tabpanel" aria-labelledby="home-tab" style="height: 500px; overflow-y: auto; overflow-x: hidden">
                    {% for item in fav_caps %}
                        {{ fav_item(item.name, item.profile_link, 'cap', loop.index0) }}
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="boats" role="tabpanel" aria-labelledby="profile-tab" style="height: 500px; overflow-y: auto; overflow-x: hidden">
                    {% for item in fav_boats %}
                        {{ fav_item(item.tactical_number, item.coords, 'boat', loop.index0) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/python" src="{{url_for('static', filename='scripts/validation.py')}}"></script>
<script>
    function openForm() {
        document.getElementById("edit_form").style.display = "block";
        document.getElementById("name").value = document.getElementById("username").innerHTML;
        document.getElementById("email").value = document.getElementById("user_email").innerHTML;
        document.getElementById("picture").value = ""
    }
    
    function closeForm() {
        if (document.getElementById('form_submit').attributes.can_close == "true"){
            document.getElementById("edit_form").style.display = "none";
        }
    }
    function to_delete(idx, type_){
        var request = new XMLHttpRequest();
        var url = '/api/users/{{user.id}}'
        let args = {'add_fav': 0}
        if (type_ == 'boat'){
            var el = document.getElementsByClassName('boat')[idx]
            args['fav_boats'] = el.textContent.trim();
        }
        else{
            var el = document.getElementsByClassName('cap')[idx]
            args['fav_caps'] = el.textContent.trim();
        }
        el.style.display = 'none';
        document.getElementsByClassName('sec-data-' + type_)[idx].style.display = 'none';
        document.getElementsByClassName(type_ + '-' + idx.toString())[0].style.display = 'none';
        fetch(url,{
            method:'PUT',
            headers:{
            'Content-Type':'application/json'
            },
            body:JSON.stringify(args)
        })
    };
</script>
{% endblock %}