{% extends "base.html" %}

{% block content %}
<h1 style="display: flex;
align-items: center;
justify-content: center;
height: 100%;">Основные серии подводных лодок Кригсмарине</h1>
<div style="background-color: #ffffff; width: 100%; margin-left: 0%; padding: 20px">
    {% set static = 'static' %}

    <h3 style="display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;">Серия II</h3>

    {% set name = 'img/misc. pictures/uboat_type_II.jpg' %}

    <figure style="float: left; text-align: center"><p><img src={{ url_for(static, filename=name) }} width="500" height="359"
        alt="Иллюстрация" align="left"
        vspace="10" hspace="20"></p><figcaption style="padding-bottom: 0;">Подлодка серии IIB</figcaption></figure>
        
    <p>Лодки II серии явились естественным развитием прибрежных лодок типа UB кайзеровского флота периода Первой мировой войны. Небольшие, дешевые и простые в строительстве, эти лодки можно было производить в поразительно короткие сроки. Основой конструкции лодок II серии был экспортный вариант лодки CV-707, построенной в Финляндии в период между двумя войнами. Эти лодки прекрасно подходили для тренировки подводников, обладали небольшими размерами. Отсеки были тесными, наблюдалась склонность к сильной бортовой качке в надводном положении. Тем не менее в начале войны подводные лодки этой серии удачно проявили себя в боевых и тренировочных условиях, и было выпущено четыре их модификации. На лодках имелось только три носовых торпедных аппарата, устанавливавшихся довольно необычно - в виде перевернутого треугольника, из них два были расположены по бортам лодки, а третий - вдоль осевой линии.</p>
    
    <p>Лодки II серии в планах Дёница изначально предполагалось использовать как учебные, однако вступление в войну и небольшой состав подводного флота заставили использовать большую их часть в боевых действиях. Скоро обнаружилось, что эти подводные лодки не подходят для операций по борьбе с судоходством, и в течение 1940 и в начале 1941 года они в первую очередь использовались как минные заградители. Подлодки типа IID, вошедшие в строй во второй половине 1941 года, имели увеличенную втрое по сравнению с типом IIA дальность плавания, и их предполагалось использовать в боевых походах. Но даже они оказались малопригодными для этого, и осенью 1941 года все лодки II серии были отозваны и переведены на Балтику, чтобы использоваться как учебные с возможными выходами против советского прибрежного судоходства. Основная часть лодок II серии была затоплена или капитулировала в 1945 году по окончании Второй мировой войны.</p>
    
    <p>В 1942 году для лодок II серии нашелся более успешный театр военных действий. К 1 октября 1942 года шесть лодок типа IIB (U-9, U-18, U-19, U-20, U-23 и U-24) были перевезены из Киля в Констанцу (Румыния) на западном побережье Черного моря для их использования на путях снабжения Севастополя. Эти подлодки действовали в Черном море с некоторым успехом, при этом только U-9 была потеряна от действий советских бомбардировщиков.</p>
    
    <h3 style="display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;">Серия VII</h3>

    {% set name = 'img/misc. pictures/uboat_type_VII.jpg' %}

    <figure style="float: right; text-align: center"><p><img src={{ url_for(static, filename=name) }} width="450" height="260"
        alt="Иллюстрация" align="right"
        vspace="10" hspace="20"></p><figcaption style="padding-bottom: 0;">Подлодка серии VIIA</figcaption></figure>

    <p>Серия VII, имевшая множество модификаций, была важнейшим типом лодок, участвовавших в подводной войне. За период Второй мировой войны подлодки VII серии совершили более 2600 боевых походов, во время которых было потоплено приблизительно 1365 кораблей противника, в том числе 190 военных. Из более 700 построенных лодок VII серии свыше 400 было уничтожено, в основном вместе с экипажами.</p>

    <p>Средних размеров, с хорошими мореходными качествами и легко управляемые, подводные лодки VII серии имели дополнительное превосходство в том, что они были дешевле в постройке и меньше альтернативных проектов, что означало возможность построить больше единиц при ограниченном морском бюджете и в пределах ограниченного тоннажа англо-германского военно-морского соглашения. Кроме того, лодки VII серии отличались надежностью конструкции и были способны действовать в северных и центральных районах Атлантики, их боевые возможности ограничивались объемом топлива и боезапаса на борту.</p>

    <p>Подводные лодки VII серии имели более высокую скорость погружения по сравнению с более крупными лодками IX серии, что имело решающее значение для экипажей; кроме того, в экстренных случаях они были способны без каких-либо последствий погружаться на глубину, значительно превышающую максимальную проектную. Главным недостатком подводных лодок VII серии была теснота отсеков, тем не менее многие подводники предпочитали нести службу именно на них по причине большей "безопасности" по сравнению с подводными лодками IX серии.</p>

    <p>Несмотря на то, что подводные лодки VII серии имели свои недостатки, их боевые и эксплуатационные характеристики оказались хорошо сбалансированными, и в ходе войны эти подлодки постоянно совершенствовались и проходили модернизацию. Хотя 30 сентября 1943 года распоряжением BdU закладка новых лодок этой серии была прекращена, отказаться от использования подлодок VII серии до массового вступления в строй и боевого применения подлодок XXI серии было невозможно. По этой причине во второй половине войны конструкция этих лодок активно дополнялась новыми техническим оснащением, в частности, радиоэлектронными и радиотехническими устройствами и шноркелями, что позволило лодкам VII серии вести боевые действия вплоть до окончания Второй мировой войны.</p>

</div>
{% endblock %}
