{% extends "base.html" %}

{% block content %}
<h1 style="display: flex;
align-items: center;
justify-content: center;
height: 100%;">Основные серии подводных лодок Кригсмарине</h1>
<div style="background-color: #ffffff; width: 100%; margin-left: 0%; padding: 20px">
    {% set static = 'static' %}

    <h3 style="display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;">Серия II</h3>

    {% set name = 'img/misc. pictures/uboat_type_II.jpg' %}

    <figure style="float: left; text-align: center"><p><img src={{ url_for(static, filename=name) }} width="500" height="359"
        alt="Иллюстрация" align="left"
        vspace="10" hspace="20"></p><figcaption style="padding-bottom: 0;">Подлодка серии IIB</figcaption></figure>
        
        <p>Лодки II серии явились естественным развитием прибрежных лодок типа UB кайзеровского флота периода Первой мировой войны. Небольшие, дешевые и простые в строительстве, эти лодки можно было производить в поразительно короткие сроки. Основой конструкции лодок II серии был экспортный вариант лодки CV-707, построенной в Финляндии в период между двумя войнами. Эти лодки прекрасно подходили для тренировки подводников, обладали небольшими размерами. Отсеки были тесными, наблюдалась склонность к сильной бортовой качке в надводном положении. Тем не менее в начале войны подводные лодки этой серии удачно проявили себя в боевых и тренировочных условиях, и было выпущено четыре их модификации. На лодках имелось только три носовых торпедных аппарата, устанавливавшихся довольно необычно - в виде перевернутого треугольника, из них два были расположены по бортам лодки, а третий - вдоль осевой линии.</p>
        
        <p>Лодки II серии в планах Дёница изначально предполагалось использовать как учебные, однако вступление в войну и небольшой состав подводного флота заставили использовать большую их часть в боевых действиях. Скоро обнаружилось, что эти подводные лодки не подходят для операций по борьбе с судоходством, и в течение 1940 и в начале 1941 года они в первую очередь использовались как минные заградители. Подлодки типа IID, вошедшие в строй во второй половине 1941 года, имели увеличенную втрое по сравнению с типом IIA дальность плавания, и их предполагалось использовать в боевых походах. Но даже они оказались малопригодными для этого, и осенью 1941 года все лодки II серии были отозваны и переведены на Балтику, чтобы использоваться как учебные с возможными выходами против советского прибрежного судоходства. Основная часть лодок II серии была затоплена или капитулировала в 1945 году по окончании Второй мировой войны.</p>
        
        <p>В 1942 году для лодок II серии нашелся более успешный театр военных действий. К 1 октября 1942 года шесть лодок типа IIB (U-9, U-18, U-19, U-20, U-23 и U-24) были перевезены из Киля в Констанцу (Румыния) на западном побережье Черного моря для их использования на путях снабжения Севастополя. Эти подлодки действовали в Черном море с некоторым успехом, при этом только U-9 была потеряна от действий советских бомбардировщиков.</p>
</div>
{% endblock %}
