{% extends "base.html" %}

{% block content %}
{% from "__formhelper.html" import render_field %}
<h1 style="display: flex;
align-items: center;
justify-content: center;
height: 100%; margin-top: 1%" class="stamp mb-5">Подлодки Кригсмарине</h1>


<div class="row" style="margin-bottom: 2%; margin-top: 2%; float: inline-end;">
    <div class="col-12">
        <button id="openDialog" class="btn btn-warning">Обновить БД</button>
        <dialog style="z-index: 1;">
            <p>Операция обновления БД может занять до 20 минут. Вы уверены?</p>
            <p><button id="closeDialog" class="btn btn-default">Нет</button></p>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>{{ form.submit(type="submit", class="btn btn-primary", id="closeDialog") }}</p>
            </form>
        </dialog>
    </div>
</div>

<script>
    var dialog = document.querySelector('dialog');
    document.querySelector('#openDialog').onclick = function() {
     dialog.show(); // Показываем диалоговое окно
    }
    document.querySelector('#closeDialog').onclick = function() {
     dialog.close(); // Прячем диалоговое окно
    }
</script>

<table class="table table-sm table-mob table-bordered" style="width: 100%" id="boats_table">
    <thead>
        <tr>
            <th scope="col" style="background-color:rgba(192, 192, 192, 0.5); width: 5%">ID</th>
            <th scope="col" style="background-color:rgba(192, 192, 192, 0.5); width: 3%">Тактический номер</th>
            <th scope="col" style="background-color:rgba(192, 192, 192, 0.5); width: 5%" class="can_hide">Заказана</th>
            <th scope="col" style="background-color:rgba(192, 192, 192, 0.5); width: 5%" class="can_hide">Заложена</th>
            <th scope="col" style="background-color:rgba(192, 192, 192, 0.5); width: 5%">Спуск на воду</th>
            <th scope="col" style="background-color:rgba(192, 192, 192, 0.5); width: 5%">Прошла испытания</th>
            <th scope="col" style="background-color:rgba(192, 192, 192, 0.5); width: 22%" class="can_hide">Капитаны</th>
            <th scope="col" style="background-color:rgba(192, 192, 192, 0.5); width: 20%" class="can_hide">Боевой путь</th>
            <th scope="col" style="background-color:rgba(192, 192, 192, 0.5); width: 5%">Успехи</th>
            <th scope="col" style="background-color:rgba(192, 192, 192, 0.5); width: 20%" class="can_hide">Судьба</th>
            <th scope="col" style="background-color:rgba(192, 192, 192, 0.5); width: 5%">Координаты гибели</th>
        </tr>
    </thead>
    <tbody>
        {% for item in uboats%}
            <tr id="{{item.tactical_number}}">
                {% if item in fav_boats and current_user.is_authenticated%}
                    <th scope="row"><span class="fa fa-star checked" id="{{loop.index | string}}" style="display: inline;></span>{{ item.id }}</th>
                {% elif current_user.is_authenticated %}
                    <th scope="row"><span class="fa fa-star" id="{{loop.index | string}}" style="display: inline;"></span>{{ item.id }}</th>
                {% else %}
                    <th scope="row">{{ item.id }}</th>
                {% endif%}
                <td>{{ item.tactical_number }}</td>
                {% if item.ordered %}
                    <td class="can_hide">{{ item.ordered }}</td>
                {% else %}
                    <td class="can_hide" style="background-color:rgba(231, 98, 98, 0.3)">None</td>
                {% endif %}
                <td class="can_hide">{{ item.laid_down }}</td>
                {% if item.launched %}
                    <td>{{ item.launched }}</td>
                {% else %}
                    <td style="background-color:rgba(231, 98, 98, 0.3)">None</td>
                {% endif %}
                {% set comm = rel[item.tactical_number]['commissioned'] %}
                {% if not comm['captain'] %}
                    <td>{{comm['text']}}</td>
                {% else %}
                    {% set cap = caps[comm['captain']] %}
                    {% set my_href = '/captains#' + cap | string %}
                    <td>{{comm['text'][0]}} <a href="{{my_href}}">{{cap}}</a> {{comm['text'][1]}}</td>
                {% endif %}
                <td>
                    {% set cmds = rel[item.tactical_number]['commanders'] %}
                    <dl>
                        {% for i in range(cmds['captains'] | length) %}
                            {% set cap = caps[cmds['captains'][i]] %}
                            {% set my_href = '/captains#' + cap | string %}
                        <dd>{{cmds['text'][i]}} <a href="{{my_href}}">{{cap}}</a></dd>
                        {% endfor %}
                    </dl>
                </td>
                <td class="can_hide">{{ item.career }}</td>
                <td>{{ item.successes }}</td>
                <td class="can_hide">{{ item.fate }}</td>
                {% if item.coords %}
                    <td>{{ item.coords }}</td>
                {% else %}
                    <td style="background-color:rgba(231, 98, 98, 0.3)">None</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
<p style="visibility: hidden;" id="current_user_id">{{current_user.id}}</p>
<script type="text/python" src="{{url_for('static', filename='scripts/fav_list.py')}}"></script>
<script>
    $(document).ready(function() {
        $('#boats_table').DataTable({
            "bPaginate": false,
            columnDefs: [
    {orderable: false, targets: [6, 7, 8, 9]},
    {type: 'date-dd-mmm-yyyy', targets: [2, 3, 4, 5]},
    {type: 'boat-num', targets: 1}

  ]
        });
    } );
</script>
<script>
    $(document).ready(function() {
        
     function hideTH(){
        if ($(window).width() < 970) {
            $('.can_hide').hide();
        } else {
            $('.can_hide').show();
     }
    }      
     hideTH();
     window.onresize = function(event) {
         hideTH();
     };
     });
</script>
{% endblock %}