{% extends "base.html" %}

{% block content %}
<h1 style="display: flex;
align-items: center;
justify-content: center;
height: 100%;">Основные серии подводных лодок Кригсмарине</h1>
<div style="background-color: #ffffff; width: 100%; margin-left: 0%; padding: 20px">
    {% set static = 'static' %}

    <h3 style="display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;">Серия II</h3>

    {% set name = 'img/misc. pictures/uboat_type_II.jpg' %}

    <figure style="float: left; text-align: center"><p><img src={{ url_for(static, filename=name) }} width="500" height="359"
        alt="Иллюстрация" align="left"
        vspace="10" hspace="20"></p><figcaption style="padding-bottom: 0;">Подлодка серии IIB</figcaption></figure>
        
        <p>Подводные лодки типа II — малые дизельные подводные лодки Германии. Лодки предназначались в первую очередь для патрулирования прибрежных вод, а применялись как для боевых действий, в том числе и в открытом море, так и для обучения подводников.</p>
        
        <p>Подводные лодки второго типа были разработаны в 1920-х годах в голландском городе Гаага, подставной коммерческой фирмой «Инженерная судостроительная контора» (нидерл. Ingenieuskaantor voor Scheepsbouw, IvS) (так как Версальский мирный договор запрещал Германии проектировать, строить и тем паче иметь подводные лодки) и были разработаны на базе ПЛ U-Boot-Klasse UB времен Первой мировой войны. Головной лодкой фактически была «Весикко» (в наши дни — памятник-музей возле Хельсинки), заложенная в 1932 году на верфи «Chrichton-Vulkan» в Турку (Финляндия), которая вступила в строй летом 1934 года как опытовая лодка фирмы «IvS».</p>
        
        <p>Тип II имел четыре подкатегории: тип II-A — 6 лодок; тип II-B — 20 лодок; тип II-C — 8 лодок; тип II-D — 16 лодок. Всего было построено 50 субмарин этого типа для Германии, в период 1935—1941 гг.</p>
        
        <p>Подводные лодки данного типа продавались в Турцию, Испанию и Финляндию. Все ПЛ кроме типа II-B были построены на верфи «Deutsche Werke» в Киле.</p>
        
        <p>16 марта 1935 года Германия расторгла Версальский договор, к этому моменту строительство лодок типа II уже было начато. 29 июня, через 11 дней после подписания англо-германского соглашения, разрешившего Германии иметь подводный флот, вступила в строй первая ПЛ этого типа. На момент начала Второй мировой войны доля этих ПЛ в подводном флоте кригсмарине превышала 60 %.</p>
</div>
{% endblock %}
